html,
body {
  margin: 0;
  padding: 0;
  font-size: 2em;
  background: #5f939a;
}

.container {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emoji-row {
  margin-bottom: 25px;
}

.emoji {
  margin-right: 15px;
  padding: 10px;
  /* border: 1px solid black; */
  border-radius: 30px;
  cursor: pointer;
}

.light {
  background-color: black;
}

button {
  font-size: 1rem;
  border-radius: 10px;
  font-weight: 700;
  padding: 10px 15px;
  box-shadow: 3px 3px 10px -4px #000;
  border: none;
}

button:active {
  box-shadow: none;
  border: none;
}

button:focus {
  border: none;
  outline: none;
}

.result {
  margin-top: 10px;
}

.result span {
  font-size: 50px;
}

.cat:active,
.dog:active,
.fish:active,
.box:active {
  background-color: #eac8af;
}
